<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>Column 1</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus minus error vel beatae. Veritatis illo sapiente quae corrupti necessitatibus nobis laudantium adipisci amet laborum aspernatur quo delectus, impedit in doloremque.</p>
            </div>
            <div class="col-md-4">
                <h3>Column 1</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus minus error vel beatae. Veritatis illo sapiente quae corrupti necessitatibus nobis laudantium adipisci amet laborum aspernatur quo delectus, impedit in doloremque.</p>
            </div>
            <div class="col-md-4">
                <h3>Column 1</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus minus error vel beatae. Veritatis illo sapiente quae corrupti necessitatibus nobis laudantium adipisci amet laborum aspernatur quo delectus, impedit in doloremque.</p>
            </div>
        </div>
    </div>
    <div id="footer-bottom">
        <div class="container">
            <span>Copyright &copy; 2008 Oitnb Inc. All rights reserved.</span>
        </div>
    </div>
</footer>