<header class="container-fluid">
    <div class="container">
        <nav class="row">
            <ul class="col-md-7">
                <li>
                    <a href="/">Home</a>
                </li><!--
             --><li>
                    <a href="/magasins">Stores</a>
                </li><!--
             --><li>
                    <a href="/magasins/add">add</a>
                </li><!--
             --><li>
                    <a href="/about">About</a>
                </li><!--
             --><li>
                    <a href="/contact">Contact</a>
                </li>
            </ul>
            <ul class="col-md-5">
                <li>
                    <a href="/register">Register</a>
                </li><!--
             --><li>
                    <a href="/login">Login</a>
                </li>{{#if user.name}}<!--
             --><li>
                    <a href="/logout">Logout {{user.name}}</a>
                </li>
                {{/if}}
            </ul>
        </nav>
    </div>
</header>