<header class="container-fluid">
    <div class="container">
        <nav class="row">
            <ul class="col-md-7">
                <li>
                    <a href="/">Home</a>
                    <div class="nav-hover"></div>
                </li><!--
             --><li>
                    <a href="/magasins">Stores</a>
                    <div class="nav-hover"></div>
                </li><!--
             --><li>
                    <a href="/magasins/add">add</a>
                    <div class="nav-hover"></div>
                </li><!--
             --><li>
                    <a href="/about">About</a>
                    <div class="nav-hover"></div>
                </li><!--
             --><li>
                    <a href="/contact">Contact</a>
                    <div class="nav-hover"></div>
                </li>
            </ul>
            <ul class="col-md-5">
                <li>
                    <a href="/register">Register</a>
                    <div class="nav-hover"></div>
                </li><!--
             --><li>
                    <a href="/login">Login</a>
                    <div class="nav-hover"></div>
                </li>{{#if user.name}}<!--
             --><li id="nav-profile">
                    <a href="/logout">Welcome {{user.name}}<i class="fa fa-chevron-down" aria-hidden="true"></i></a>
                    <div class="nav-hover"></div>
                    <ul>
                        <li><a href="/logout">Logout</a></li>
                        <li>bla</li>
                        <li>bli</li>
                        <li>blo</li>
                    </ul>
                </li>
                {{/if}}
            </ul>
        </nav>
    </div>
</header>