<h1>Thi is my home page chouette</h1>
<h2>{{test}}</h2>
<p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus minus error vel beatae. Veritatis illo sapiente quae corrupti necessitatibus nobis laudantium adipisci amet laborum aspernatur quo delectus, impedit in doloremque.
</p>
{{>footer}}