<div id="about">
    <div id="headBanner">
        <img src="/images/photos/about-banner-03.jpg" alt="">
    </div>

    <div class="container">
        <h1>{{title}}</h1>
        <cite>Make it happen</cite>
        <div class="row">
            <p class="col-md-6">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus minus error vel beatae. Veritatis illo sapiente quae corrupti necessitatibus nobis laudantium adipisci amet laborum aspernatur quo delectus, impedit in doloremque.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus minus error vel beatae. Veritatis illo sapiente quae corrupti necessitatibus nobis laudantium adipisci amet laborum aspernatur quo delectus, impedit in doloremque.
            </p>
            <p class="col-md-6">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus minus error vel beatae. Veritatis illo sapiente quae corrupti necessitatibus nobis laudantium adipisci amet laborum aspernatur quo delectus, impedit in doloremque.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus minus error vel beatae. Veritatis illo sapiente quae corrupti necessitatibus nobis laudantium adipisci amet laborum aspernatur quo delectus, impedit in doloremque.
            </p>
            <img class="col-md-12" id="about-content-pic" src="/images/photos/about-banner-00.jpg" alt="">
            <div class="col-md-4">
                <h3>Storytelling</h3>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus minus error vel beatae. Veritatis illo sapiente quae corrupti necessitatibus nobis laudantium adipisci amet laborum aspernatur quo delectus, impedit in doloremque.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus minus error vel beatae. Veritatis illo sapiente quae corrupti necessitatibus nobis laudantium adipisci amet laborum aspernatur quo delectus, impedit in doloremque.
                </p>
            </div>
            <div class="col-md-4">
                <h3>Design + Craft</h3>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus minus error vel beatae. Veritatis illo sapiente quae corrupti necessitatibus nobis laudantium adipisci amet laborum aspernatur quo delectus, impedit in doloremque.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus minus error vel beatae. Veritatis illo sapiente quae corrupti necessitatibus nobis laudantium adipisci amet laborum aspernatur quo delectus, impedit in doloremque.
                </p>
            </div>
            <div class="col-md-4">
                <h3>Technology</h3>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus minus error vel beatae. Veritatis illo sapiente quae corrupti necessitatibus nobis laudantium adipisci amet laborum aspernatur quo delectus, impedit in doloremque.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus minus error vel beatae. Veritatis illo sapiente quae corrupti necessitatibus nobis laudantium adipisci amet laborum aspernatur quo delectus, impedit in doloremque.
                </p>
            </div>
        </div>
    </div>
</div>